In [ ]:
"""
__author__ = "Nate Cutler"
__credits__ = Initial transformations credited to Juan Flores.
__version__ = "1.0"
__maintainer__ = "Nate Cutler"
__email__ = "ncutler211@gmail.com"
__status__ = "Prototype"
"""

In [ ]:
# Imports
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# Functions for traversing host
host="radiance-db-instance.cdolgqfaeaoj.us-east-2.rds.amazonaws.com"
database="Radiance_db"
user="radianceUN"
password="radianceP"
port='5432'

def get_conn_cur(): # define function name and arguments (there aren't any)
  # Make a connection
  conn = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password,
    port='5432')
  cur = conn.cursor()   # Make a cursor after
  return(conn, cur)   # Return both the connection and the cursor

def get_table_names():
  conn, cur = get_conn_cur() # get connection and cursor
  # query to get table names
  table_name_query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public' """
  cur.execute(table_name_query) # execute
  my_data = cur.fetchall() # fetch results
  cur.close() #close cursor
  conn.close() # close connection
  return(my_data) # return your fetched results

def get_column_names(table_name): # arguement of table_name
  conn, cur = get_conn_cur() # get connection and cursor
  # Now select column names while inserting the table name into the WERE
  column_name_query =  """SELECT column_name FROM information_schema.columns
       WHERE table_name = '%s' """ %table_name

  cur.execute(column_name_query) # exectue
  my_data = cur.fetchall() # store
  cur.close() # close
  conn.close() # close

  return(my_data) # return

def run_query(query_string):
  conn, cur = get_conn_cur() # get connection and cursor
  cur.execute(query_string) # executing string as before
  my_data = cur.fetchall() # fetch query data as before
  # here we're extracting the 0th element for each item in cur.description
  colnames = [desc[0] for desc in cur.description]
  cur.close() # close
  conn.close() # close

  return(colnames, my_data) # return column names AND data

def create_table(host, database, user, password, table_name, table_definition):
    """
    Create a new table in a PostgreSQL database.

    Args:
        host (str): The host or IP address of the database server.
        database (str): The name of the database.
        user (str): The database user.
        password (str): The user's password.
        table_name (str): The name of the new table to be created.
        table_definition (str): The table's column definitions and constraints.
    """

    try:
        # Connect to the database
        conn = psycopg2.connect(
            host=host,
            database=database,
            user=user,
            password=password
        )
        # Create a cursor
        cur = conn.cursor()
        # Define the SQL command to create the table
        create_table_query = f"CREATE TABLE {table_name} {table_def}"
        # Execute the SQL command
        cur.execute(create_table_query)
        # Commit the changes
        conn.commit()
        print(f"Table {table_name} created successfully.")

    except (Exception, psycopg2.Error) as error:
        print(f"Error: {error}")

    finally:
        # Close the cursor and the connection
        if conn:
            cur.close()
            conn.close()

def drop_table(table_name):
    # Define your database URI
    database_uri = "postgresql://radianceUN:radianceP@radiance-db-instance.cdolgqfaeaoj.us-east-2.rds.amazonaws.com:5432/Radiance_db"
    engine = create_engine(database_uri)
    # Connect to the database and drop the table
    connection = engine.connect()
    connection.execute(f"DROP TABLE IF EXISTS {table_name}")
    connection.close()

def sql_head(table_name):
  conn, cur = get_conn_cur()
  sales_df = pd.read_sql(""" SELECT * FROM %s
          LIMIT 5;""" %table_name, conn)
  return (sales_df)

In [ ]:
combined_data = pd.read_csv(r"F:\UofA\ISTA_498_Capstone\Data ETL\Japan\Combined_Japan_Data.csv")

In [ ]:
def transformations(combined_data):
    #Convert to datetime
    combined_data['START_DATE'] = pd.to_datetime(combined_data['START_DATE'], format='%Y-%m-%d')
    combined_data['END_DATE'] = pd.to_datetime(combined_data['END_DATE'], format='%Y-%m-%d')
    #Lowercase all column headers
    combined_data.columns = combined_data.columns.str.lower()
    #Fill in CID
    combined_data['cid'] = '03'
    #Drop country
    combined_data = combined_data.drop("country", axis=1)
    #Change prefecture to state
    combined_data.rename(columns={'prefecture': 'state'}, inplace=True)

    return combined_data

In [ ]:
#Transform data
transformed_data = transformations(combined_data)

In [ ]:
transformed_data.head()

In [ ]:
# Creates Japan table
table_name = "japan"
table_def = "(start_date TIMESTAMP,end_date TIMESTAMP, reading FLOAT, unit VARCHAR(12), state VARCHAR(50), city VARCHAR(50), lat INT, long INT, cid VARCHAR(3), comment VARCHAR(255))"
create_table(host, database, user, password, table_name, table_def)

In [ ]:
# pandas DF to SQL table & Upload
database_uri = "postgresql://radianceUN:radianceP@radiance-db-instance.cdolgqfaeaoj.us-east-2.rds.amazonaws.com:5432/Radiance_db"
engine = create_engine(database_uri)
tn = "japan"

transformed_data_subset = transformed_data.head(10)  # Limit to the first 10 rows
transformed_data_subset.to_sql(tn, engine, if_exists='replace', index=False)

In [ ]:
get_table_names()